*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 user-select: none;
}

body{
 height: 100vh;
 display: flex;
 justify-content: center;   
}

.root .todo-card{
 margin-top: 5%;
 background-color: #7fff00;
 padding: 2em;
 width: 400px;
 border-radius: 5px;
}

.todo-card .todo-row{
 text-align: center;
}

.todo-row h3{
 color: #fff;
 margin: 10px 0px;
 font-size: 23px;
}

.todo-row #searchTask{
 width: 80%;
 padding: 7px 5px 7px 10px;
 outline: none;
 border: 1px solid #ccc;
 border-radius: 5px;
}

.todo-row #searchTask:focus {
 border: 1px solid #00a2ff;
}


.todo-row .btn{
 background-color: #00a2ff;
 color: #fff;
 border: none;
 outline: none;
 padding: 5px 10px;
 cursor: pointer;
 border-radius:3px;
 font-size: 16px;
}

.todo-card .tasks{
 margin-top: 20px;
 list-style-type: none;
}

.tasks .task{
 display: flex;
 justify-content: space-between;
 width: 100%;
 color: #fff;
 background-color: #0391e4;
 padding: 5px 10px;
 border-radius: 25px;
 position: relative;
 margin: 10px;
}

.task .removeBtn{
 cursor: pointer;
}

.task .line{
 position: absolute;
 width: 80%;
 height: 2px;
 background-color: #fff;
 z-index: 99;
 top: 50%;
 transform: translateY(-50%);
 display: none;
}

.task .line.active{
 display: block;
}

.task  .taskText{
 width: 100%;
}